body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #B0E0E6;
  padding: 50px;
  text-align: center;
  margin-left: 190px;
}

.unselected {
  background-color: #00cc8f;
  font-family: Arial;
  font-size: medium;
  padding: 2px 6px 2px 6px;
}

.selected {
  background-color: #00cc8f;
  font: bold medium Arial;
  padding: 6px 18px 6px 18px;
}

.article {
  background-color: #e3e3e3;
  padding: 20px;
  margin-left: 190px;
}

.sidebar {
  background-color: #FFD700;
  height: 100%; 
  width: 140px;
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  padding: 20px;
}

.footnote {
  font-size: x-small;
  margin-left: 50px;
}

img {
  max-width: 75%;
  height: auto;
}

.image-bank {
  position: relative;
}

#img1a {
  position: relative;
  float: left;
}

#img2a {
  position: absolute;
  top: 0;
  right: 0;
}
