body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #a6ffe4;
  padding: 50px;
  text-align: center;
  margin-left: 170px;
}

.article {
  background-color: #e3e3e3;
  padding: 20px;
  margin-left: 170px;
}

.sidebar {
  background-color: #a6ffe4;
  height: 100%; 
  width: 160px;
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  padding: 20px;
}
